block content
    - var d = unescape(description) != 'null' ? unescape(description) : ''
    - var c = (crit == true) ? 'crit':'';
    - var f = (fail ==  true) ? 'fail':''; 
    - var n = (fail != true && crit != true) ? 'nor':'';
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':''; 
    - var form = formula.replace(/\d+$/, "")
    .container-fluid.attackspace
        .row.no-gutters.block
            .col-2.col-sm-1.col-lg-1.spacer
                .icon.attack
                .row
                    .col-12
            .col
                .text <span class='roller #{g}'>#{by}</span> attacks with <span class = 'attackname'>#{label} | #{sublabel}</span>
        .row.no-gutters.attack
            .col-1
            .col.attack
                .text #{form} <span class='result #{c} #{f} #{n}'>#{result}</span>
                .text <span class='description'>#{d}</span> 