block content
    - var d = unescape(description) != 'undefined' ? unescape(description) : ''
    - var c = (crit == true) ? 'crit':'';
    - var f = (fail ==  true) ? 'fail':''; 
    - var n = (fail != true && crit != true) ? 'nor':'';
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':'';
    - var form = formula.replace(/\d+$/, "");
    .container.chat
        .row
            .col-12.name.dam #{by} #{c} #{f}
        .row
            .col-12
                .content.roll.w-100.text-center
                    .avatar.flex.damage #{result}
                    .content.result #{form} <span class='total #{c} #{f} #{n}'>#{result}</span>
                    
                    if d != ''
                        .desc #{sublabel}
                    