block content
    - var d = unescape(content) != 'null' ? unescape(content) : ''
    - var c = (crit != 'undefined') ? 'crit':'';
    - var f = (fail != 'undefined') ? 'fail':''; 
    - var n = (fail == 'undefined' && crit == 'undefined') ? 'normal':'';
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':''; 
    .container-fluid.space
        .row.no-gutters.block
            .col-2.col-sm-1.col-lg-1.spacer
                .icon.roll
                .row
                    .col-12
            .col
                .text <span class='roller #{g}'>#{by}</span> rolls <span class='formula'>#{formula}</span>...and gets a <span class='result #{c} #{f} #{n}'>#{result}</span>!
               
