block content 
    .chat(data-messageid = `${id}`)
        .spacer
        .contentBox
            .content 
                .rollFormula <span class='chatName'>#{by}</span> is <span class='rFormula'>#{formula}</span>... <span class="rollResult crit-#{crit} fail-#{fail}">#{result}</span>!