block content
    .container.chat(data-messageid = `${id}`)
        .row
            .col-12.name #{by}
        .row
            .col-10
                .content
                    .rollFormula <span class='rFormula'>#{formula}</span>...&nbsp;&nbsp;<span class='rollResult'>#{result}</span>
            .col-2.p-0
                .avatar(style=`background-image: url(${avatar})`)
                