block content
    - var d = unescape(description) != 'null' ? unescape(description) : ''
    - var c = (crit == true) ? 'crit':'';
    - var f = (fail ==  true) ? 'fail':''; 
    - var n = (fail != true && crit != true) ? 'nor':'';
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':''; 
    - var form = formula.replace(/\d+$/, "")
    - var r = (result.length <= 2) ? result : result.substring(0,2) + ' | ' + result.substring(2); 
    .container.chat
        .row
            .col-12.name.check #{name}
        .row
            .col-12.p-0
                .content.normalroll
                        .content.result #{form} <span class='total #{c} #{f} #{n}'>#{r}</span>
                        .avatar.check
                