block content
    - var d = unescape(description) != 'null' ? unescape(description) : ''
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':'';
    - var short = (d.length <= 99) ? 'true' : '';
        .container.chat
            .row
                .col-12.name.spell #{name}
            .row
                .col-12.p-0
                    .content !{d}
                    .avatar.spell
            .row
                .col-4.spelldet.icon.time
                .col-4.spelldet.icon.duration
                .col-4.spelldet.icon.components
            .row
                .col-4.spelldet.icon #{castingtime}
                .col-4.spelldet.icon #{duration}
                .col-4.spelldet.icon #{components}