block content
    - var d = unescape(description) != 'null' ? unescape(description) : ''
    - var c = (crit == true) ? 'crit':'';
    - var f = (fail ==  true) ? 'fail':''; 
    - var n = (fail != true && crit != true) ? 'nor':'';
    - var g = (by.indexOf('(GM)') != -1) ? 'gm':''; 
    - var form = formula.replace(/\d+$/, "");
    - var sl = sublabel != 'undefined' ? sublabel :''
    - var r = (result.length <= 2) ? result : result.substring(0,2) + ' | ' + result.substring(2); 
    .container.chat
        .row
            .col-12.name.spell #{label}
        .row
            .col-12.p-0
                if(d != 'undefined')
                    .content !{d}
                .avatar.spell
        .row
            .col-12.p-0.text-center
                .content.result #{form} <span class='total #{c} #{f} #{n}'>#{r}</span>
        .row
            .col.p-0.text-center #{sl}
        .row
            .col-4.spelldet.icon.time
            .col-4.spelldet.icon.duration
            .col-4.spelldet.icon.components
        .row
            .col-4.spelldet.icon #{castingtime}
            .col-4.spelldet.icon #{duration}
            .col-4.spelldet.icon #{components}